:host {
  display: flex;
  position: absolute;
  outline: 1px solid currentColor;
  background-color: white;
  color: black;

}

/* 2.5 x 3.5 */
.m-Card {
  width: 100%;
}

.m-Card-front {
  display: flex;
  width: 100%;
}

.m-Card-back {
  display: flex;
  width: 100%;
}
