:host {
  display: flex;
  position: absolute;
  border: 1px solid currentColor;
  border-radius: 1%;
  background-color: white;
  color: black;
}

/* Card is being animated by the impetus lib */
:host.hasImpetus {
}

/* 2.5 x 3.5 */
.crdtrx-Card {
  width: 100%;
}

.crdtrx-Card-side {
  display: flex;
  width: 100%;
}

.crdtrx-Card-back {
  display: flex;
  width: 100%;
}
