/* Example CSS for card */

/* Reset the default styles */
crdtrx-card {
  transition: transform 0.3s ease;
  border: none;
  background-color: transparent;
}

/* Card is being animated by the impetus lib */
crdtrx-card.hasImpetus {
  transition-property: none;
}

/* Pre-style, give layout, replicate crdtrx-card eventual styles, etc. */
crdtrx-card:not(:defined) {
  display: block;
  transform: translate3d(-71px, -96px, 0);
  width: 71px;
  height: 96px;
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.example-container {
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #25671a;
  width: 75vmin;
  min-width: 300;
  height: 75vmin;
  min-height: 300;
}

/* Shows where the final x,y point is set on a card. */
[id=spot] {
  position: absolute;
  top: -12px;
  left: -12px;
  transform: translate3d(0, 0, 0);
  border-radius: 50%;
  background-color: white;
  width: 24px;
  height: 24px;
}
.example-actions {
  padding: 20px;
}
