:host {
  display: block;
}

/* Optimize repaints, and overflow is hidden.  Resolution seems to
 * be worse, however. */
:host-context([contained-surface]) {
  contain: content;
}

/* At the time this doesn't seem well supported. */
slot[name=surface]::slotted(*) {
  position: absolute;
}

.crdtrx-Table {
}

.crdtrx-Table-surface {
  width: 100%;
  height: 100%;
}

.crdtrx-Table-surface slot[name=surface] {
}
