:host {
  display: flex;
  justify-content: stretch;
  contain: content;
  width: 80vw;
  height: 80vh;
  position: relative;
}

/* At the time this doesn't seem well supported. */
slot[name=surface]::slotted(*) {
  position: absolute;
}

.crdtrx-Table {
  display: flex;
  justify-content: stretch;
  width: 100%;
  background-color: #ddd;
}
.crdtrx-Table-surface {
  width: 100%;

  background-color: #ccc;
}
.crdtrx-Table-surface slot[name=surface] {
}
.crdtrx-Table-debug {
  position: absolute;
  width: 100%;
  overflow: auto;
  height: 100%;
}
