/* Example CSS for pile */

.example {
  width: 500px;
  height: 500px;
  position: relative;
}
crdtrx-pile {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.example-div {
  position: absolute;
  width: 100px;
  height: 100px;
  display: block;
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: transform 0.3s ease;
}

.example-actions {
  padding: 20px;
}
