/* Example CSS for pile */
.example-actions {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.example-actions > button {
  margin: 5px;
}

.example {
  display: flex;
  position: relative;
  align-items: center;
  height: 500px;
  padding-left: 100px;
}

crdtrx-pile {
  display: block;
  position: relative;
  z-index: 1;
  width: 300px;
}

.example-div {
  display: block;
  position: absolute;
  transition: transform 0.3s ease;
  border: 1px solid black;
  background-color: white;
  width: 100px;
  height: 100px;
  color: black;
}
