/* Pre-style, give layout, replicate crdtrx-table eventual styles, etc. */
crdtrx-table:not(:defined) {
  display: block;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  height: 100vh;
}

crdtrx-table [slot=surface] > * {
  position: absolute;
}

crdtrx-pile [slot=area] {
  height: 0;
  width: 0;
}
